
$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

@mixin display {
	font-family:'Open Sans', $sans;
}

@mixin paragraph {
	font-family:'Open Sans Condensed', $sans;
}

@mixin font-size($n) {
	font-size: $n + px; font-size: ($n / 10) + rem;
}