@font-face {
  font-family: "yaaak";
  src: url(font-path("yaaak.eot"));
  src: font-url("yaaak.eot?#iefix") format("embedded-opentype"),
    url(font-path("yaaak.ttf")) format("truetype"),
    font-url("yaaak.svg#yaaak") format("svg"),
    font-url("yaaak.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "yaaak" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  @include font-size(14);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="i-"]:before,
[class*=" i-"]:before {
  font-family: "yaaak" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  @include font-size(14);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i-github-active:before {
  content: "a";
}

.i-shrink:before {
  content: "b";
}

.i-check:before {
  content: "d";
}

.i-thumbup-active:before {
  content: "e";
}

.i-thumbdown-active:before {
  content: "f";
}

.i-thumbup:before {
  content: "g";
}

.i-thumbdown:before {
  content: "h";
}

.i-arrowup:before {
  content: "i";
}

.i-location:before {
  content: "j";
}

.i-leftarrow:before {
  content: "k";
}

.i-refresh:before {
  content: "l";
}

.i-github:before {
  content: "m";
}

.i-delete:before {
  content: "n";
}

.i-downarrow:before {
  content: "o";
}

.i-close:before {
  content: "p";
}

.i-pin:before {
  content: "q";
}

.i-close-active:before {
  content: "r"; color: $red;
}

.i-info:before {
  content: "s";
}

.i-add:before {
  content: "t";
}

.i-alert:before {
  content: "c";
}

.i-globe:before {
  content: "u";
}

.i-settings:before {
  content: "v";
}

.i-time:before {
  content: "w";
}

