
$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
$scheme:'light' !default;

$gray: #272727;
$lightest_gray: lighten($gray, 80%);
$light_gray: lighten($gray, 30%);

$domColor: #02253E;
$subColor: #0177A8;
$terColor: #575501;
$linkColor: #356B83;

$red: #b02934;

@mixin display {
	font-family: 'Alegreya SC', serif;
}

@mixin paragraph {
	font-family: 'Titillium Web', sans-serif;
}