$(document).ready(function() {
	$('#show-hdr').click(function(e) {
		e.preventDefault();
		$(this).toggleClass('i-close-active').toggleClass('i-settings');
		$('.hdr').toggleClass('hdr-out');
		return $('.hdr-controls').toggle().toggleClass('flipInY animated');
	});

	$('#show-grunt').click(function(e) {
		e.preventDefault();
		$(this).toggleClass('i-close-active');
		$('#range-grunt').find('input').focus();
		return $('.range-grunt').toggle().toggleClass('flipInY animated');
	});


/**********************/
/******* HERDS ********/
/**********************/

	$('.herds').backstretch(['<%= asset_url 'herds-bg.jpg' %>']);

	if($('body').hasClass('herds show')) {
		var herd_epicenter, evtSource;
		$.getJSON('/herds/' + $('#chat_list').attr('data-herdid') + '.json?', function(data){
			$.each(data.grunts, function(key, val){
				$('#chat_list').append(yakfunc.messageDisplay(val))
			});
		});
		evtSource = new EventSource('/herds/' + $('#chat_list').attr('data-herdid') + '/stream');
		evtSource.onmessage = function(e) {
			var resp, latest_grunt;
			resp = JSON.parse(e.data);
			$('#chat_list').prepend(yakfunc.messageDisplay(resp.data));
			latest_grunt = parseFloat($('#grunt_count').text())
			latest_grunt++;
			$('#grunt_count').text(latest_grunt)
			if(parseInt($.cookie('active_yak')) !== resp.data.user_id) {
				byah.notify({
					content:(resp.data.user_name + ': ' + resp.data.message),
					tags:$('#chat_list').attr('data-herdid'),
					type:'notification'
				});
			}
		};
		evtSource.onopen = function(e) {

		};
		evtSource.onerror = function(e) {

		};
		evtSource.onclose = function(e) {

		};
		window.onbeforeunload = function() {
			evtSource.close()
		};
		herd_epicenter = [parseFloat($('.herd').attr('data-lat')), parseFloat($('.herd').attr('data-long'))];

		yakfunc.googleLocation(herd_epicenter)

		$('#distanceFromCenter').text(byah.distanceBetween(byah.localRetrieve('position'), herd_epicenter));
	}

	$('#chat_list').on('click', '.yak', function(e) {
		var retrieveYakData, targetedMessage, user_id;
		$('#chat_list').find('.popup').remove();
		user_id = $(this).attr('data-userid');
		retrieveYakData = $.getJSON('/yaks/' + user_id + '.json', function(data){
			$('.popup .user_name').text(data.user_name)
			$('.popup .popup-header').css('background', data.grunt_count)
			$('.popup .user_color').text(data.user_color)
			$('.popup .short_user_name').text(data.short_user_name)
			$('.popup .last_grunt').text(data.last_grunt)
			$('.popup .block-user').attr('data-userid', user_id);
		});
		targetedMessage = $(this).parent();
		retrieveYakData.complete(function(){
			var popup = $('.popup').html();
			$(targetedMessage).prepend('<div class="popup">' + popup + '</div>')
			$(targetedMessage).children('.popup').fadeIn();

		});
	});

	/* Block user function */
	$('#chat_list').on('click', '.block-user', function(e){
		var blockedUsers, user_id;
		if(window.confirm('Are you sure you want to never grunt with this yak again?')){
			user_id = parseInt($(this).attr('data-userid'));
			if(parseInt($.cookie('active_yak')) === user_id){
				byah.notify({
					content:'You can\'t block yourself, numnuts',
					severity:'warn'
				});
				return
			}
			blockedUsers = byah.localRetrieve('blockedUsers');
			blockedUsers.push(user_id);
			byah.localStore('blockedUsers', blockedUsers);
			$('.yak[data-userid="' + user_id + '"]').parent().parent().each(function(){
				$(this).remove();
			});
			byah.notify({
				content:'That upsetting yak left the herd!',
				severity:'error'
			})
		}
	});

	var pagination = 2;
	$('#chat_list').scroll(function(e){
		if($('#chat_list')[0].scrollHeight == ($('#chat_list').scrollTop() + 580) ){
			$.getJSON('/herds/' + $('#chat_list').attr('data-herdid') + '.json?page=' + pagination, function(data){
				$.each(data.grunts, function(key, val){
					$('#chat_list').append(yakfunc.messageDisplay(val))
				});
			});
		}
	});

/**********************/
/******* GRUNTS *******/
/**********************/

	$('#grunt_message').focus();
	$("#new_grunt").submit(function(e) {
		e.preventDefault();
		$.ajax({
			url: $('#new_grunt').attr('action'),
			type: "POST",
			dataType: "json",
			data: $('#new_grunt').serialize(),
			success: function(msg) {
				$('#grunt_message').val('')
					if(!$('body').hasClass('herds')) {
						window.location = "/herds/" + msg.herd_id;
					}
			},
			error: function(xhr, status) {
				return $('body').html(xhr.responseText);
			}
		});
	});

	$("#updateName").submit(function(e) {
		e.preventDefault();
		$.ajax({
			url: '/yaks/'+parseInt($.cookie('active_yak')),
			type: "put",
			dataType: "json",
			data: 'name='+encodeURIComponent($('#newName').val()),
			success: function(msg) {
					$('#show-hdr').toggleClass('i-close-active').toggleClass('i-settings');
					$('.hdr').toggleClass('hdr-out');
					byah.notify({
						content:'Name successfully updated',
						tags:'yaaakname',
						type:'alert',
						severity:'success'
					});
					return $('.hdr-controls').toggle().toggleClass('flipInY animated');
			},
			error: function(xhr, status) {
				return $('body').html(xhr.responseText);
			}
		});
	});
});
