
function messageDisplay(info){
  return '<li><div class="message"><div class="yak" data-userid="' + info.user_id + '" data-date="' + info.created_at + '" style="background:' + info.user_color + '">' + info.user_name + '</div><div class="message-content"><p>' + info.message + '</p><span class="tab"></span></div></div></li>'
}
$(document).ready(function() {

  $('select').selectpicker();

  $('#show-hdr').click(function(e) {
    e.preventDefault();
    $(this).toggleClass('i-close-active').toggleClass('i-settings');
    $('.hdr').toggleClass('hdr-out');
    return $('.hdr-controls').toggle().toggleClass('flipInY animated');
  });

  $('#show-grunt').click(function(e) {
    e.preventDefault();
    $(this).toggleClass('i-close-active');
    $('#range-grunt').find('input').focus();
    return $('.range-grunt').toggle().toggleClass('flipInY animated');
  });

  $('.herds').backstretch(['<%= asset_url 'herds-bg.jpg' %>']);

/**********************/
/******* HERDS ********/
/**********************/

  function notify(content,tags,title, url){
    if(window.webkitNotifications){
      var havePermission = window.webkitNotifications.checkPermission();
      if (havePermission == 0) {
        var notification = window.webkitNotifications.createNotification("<%= asset_url 'favicon.png' %>",title,content);
	    notification.onclick = function () {
		  window.open(url);
		  notification.close();
		}
   		notification.show();
   		setTimeout(function() {
   			notification.cancel();
   		}, 2500)
   	  } else {
   	    window.webkitNotifications.requestPermission();
   	  }
    } else {
      if (Notification && Notification.permission === "granted") {
   	    var notification = new Notification(content, {tag: tags });

   		setTimeout(function() {
   			notification.close();
   		}, 3000)
   	  } else if (Notification && Notification.permission !== 'denied') {
   	    Notification.requestPermission(function (permission) {
   	      if(!('permission' in Notification)) {
   		    Notification.permission = permission;
   		  }
   		  if (permission === "granted") {
   		    var notification = new Notification(content, {tag: tags});
   		    setTimeout(function() {
   			  notification.close();
   		    }, 3000)
   		   }
   	    });
   	  }
    };
  }

  if($('body').hasClass('herds show')) {
    var evtSource;
    evtSource = new EventSource('/herds/1/stream');
    evtSource.onmessage = function(e) {
      var resp;
      resp = JSON.parse(e.data);
      $('#chat_list').prepend(messageDisplay(resp.data));
      var latest_grunt = parseFloat($('#grunt_count').text())
      $('#grunt_count').html(latest_grunt++)
      notify((resp.data.user_name + ': ' + resp.data.message),$('#chat_list').attr('data-herdid'),'Yaaak', window.location.href)
    };
    evtSource.onopen = function(e) {
      return console.log('open');
    };
    evtSource.onerror = function(e) {
      console.log('error');
      return evtSource.close();
    };
	evtSource.onclose = function(e) {
      return console.log('close');
    };
    window.onbeforeunload = function() {
      evtSource.close()
    };
  }

  $('#chat_list').on('click', '.message', function(e) {
    $.getJSON('/yaks/' + $(this).children('.yak').attr('data-userid') + '.json', function(data){
  	  $('.overlay .user_name').text(data.user_name)
  	  $('.overlay .grunt_count').text(data.grunt_count)
  	  $('.overlay .user_color').text(data.user_color)
  	  $('.overlay .short_user_name').text(data.short_user_name)
  	  $('.overlay .last_grunt').text(data.last_grunt)
  	});
  	window.toggle_overlay()
  });

/**********************/
/******* GRUNTS *******/
/**********************/
  $('#grunt_message').focus();
  $("#new_grunt").submit(function(e) {
    e.preventDefault();
    $.ajax({
      url: $('#new_grunt').attr('action'),
      type: "POST",
      dataType: "json",
      data: $('#new_grunt').serialize(),
      success: function(msg) {
      	$('#grunt_message').val('')
      },
      error: function(xhr, status) {
        return $('body').html(xhr.responseText);
      }
    });
  });
});
