.form {
	&#updateName {
		margin:0 0 0 10px;
		width:40%;
		@include inline-block;
		input[type="text"]{
			width:80%;
			@include inline-block;
		}
		input[type="submit"]{
			width:auto;
		}
	}
	input { width: 100%; padding: 15px; border: 1px solid $lightest_gray; border-radius: 4px;
	}
	button { @include btn($subColor); }
}