@include global-reset;

html, body, #map_canvas {
	height:100%;
	margin:0;
	padding:0;
}

html { font-size: 62.5%; }

body {
	background: #f2f2f2;
	width:100%;
	margin:0 auto;
	@include paragraph; font-size: 14px; font-size: 1.4rem; -webkit-backface-visibility: hidden;
}

body.splash { background: none; }

#map_canvas, .yield { position: relative; z-index: 10; top: 41px; }


// Type
h1, h2, h3, h4 { @include display; margin: 0; }
h2, h3 { font-weight: 400; }
h1, h1 a { font-weight: 500; @include font-size(38); text-decoration: none; }
h2, h2 a { line-height: 35px; @include font-size(20); text-decoration: none; }
h3, h3 a { @include font-size(18); text-decoration: none; }

p { color: $gray; line-height: 1.6em; margin: 5px 0; }

a { color: #272727;
	&:hover { text-decoration: none; }
	&:focus { outline: 0; }
}

// Utility
//.clearfix { @include clearfix; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
hr { clear: both; width: 100%; height: 1px; background: #bbb; border: 0; }
img { width:100%; }
