.herd-hdr {
	width: 100%;
	padding: 22px 0 10px 0;
	a {
		color: $lightest_gray;
		text-decoration: none;
		@include font-size(16);
		@include inline-block;
		padding: 5px;
		@include hover(white);
	}
}

.herds.show .yield {
	margin-top:60px;
}
.chat-list {
	height: 500px;
	background: $lightest_gray;
	overflow:scroll;
	.message {
		position:relative;
		@include clearfix();
	}
	.yak, .message-content {
		@include inline-block;
	}
	img {
		display:block;
	}
	.yak {
		padding:22px 21px;
		text-align:center;
		border-radius: 100%;
		background:$terColor;
		color:white;
		width: 11.090909%;
	}
	.message-content {
		position: relative;
		padding:10px 10px 10px 20px;
		background: white;
		width: 83.090909%;
		margin: 0 2%;
		border-radius: 3px;
		box-shadow: 0 2px 3px 0 rgba($light_gray, 0.4);
		.tab {
			position: absolute;
			top: 30%;
			left: -12px;
			@include inline-block;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid white;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			margin: 2px;
		}
	}
	li {
		padding: 10px;
		margin:5px 0;
		position: relative;
		&.even {
			text-align:right;
			.yak, .message-content {
				float:right;
				display:block;
			}
			.message-content {
				.tab {
					left: auto;
					right: -12px !important;
					border-left: 5px solid white;
					border-right: 5px solid transparent;
				}
			}
		}
	}
}
#new_grunt {
	img {
		display:block;
	}
}
.herd {
	width: 64.70588%;
	float: left;
	margin-bottom: 60px;
	position:relative;
	.new_grunt, .chat-list {
		@include border-bottom-radius(5px);
		box-shadow: 0 3px 4px 0 rgba($gray, 0.4);
	}
	.new_grunt {
		padding: 20px;
		background:$domColor;
		overflow:hidden;
		border-radius: 5px 5px 0 0;
		input[type="text"] {
			width:73%;
			@include inline-block;
			border:0;
			padding:10px;
			@include border-left-radius(5px);
		}
		input[type="submit"] {
			@include inline-block;
			@include display;
			font-weight:bold;
			font-style:italic;
			font-size:19px;
			padding:8px 17px;
		}
	}
}

.herd-sb {
	width: 35.2941%;
	margin-top: 80px;
	padding: 20px;
	background: #dadada asset-url('sb-bg.jpg') repeat-y;
	border-radius: 0 4px 4px 0;
	box-shadow: 0 3px 4px 0 rgba($gray, 0.4);
	float: right;
	h1 {
		color: white;
	}
	.herd-stats {
		li {
			color: $lightest_gray;
			padding: 10px;
			@include font-size(30);
			@include display;
			span {
				@include font-size(15);
				@include paragraph;
				font-style: normal;
			}
		}
	}
	.range-actions {
		a, button, input {
			color: white;
			border: 0;
			display: block;
			padding: 10px;
		}
	}
}
.popup {
	position:absolute;
	text-align:left!important;
	background:white;
	bottom:50%;
	left:30%;
	border-radius:4px;
	max-width:200px;
	width:100%;
	box-shadow:0 1px 2px 0 rgba($light_gray, 0.4);
	display:none;
	z-index:99;
	@include paragraph;
	h2, h3 {
		@include paragraph;
	}
	small {
		@include font-size(8);
	}
	.popup-header {
		width: 100%;
		padding: 10px;
		background: $subColor;
		color: white;
		border-radius: 4px 4px 0 0;
		h2 {
			color:white;
			@include font-size(16);
			small {
				@include font-size(12);
			}
		}
	}
	.popup-content {
		padding:12px;
	}
}