.herd-hdr { width: 100%; padding: 10px 0;
	a { color: $lightest_gray; text-decoration: none; @include font-size(16); display: inline-block; padding: 5px;
		&:hover { color: white; }
	}

}
.herds.show .yield {
	margin-top:60px;
}
.herd { width: 64.70588%; float: left; margin-bottom: 60px;
	.new_grunt, .chat-list {
		@include border-bottom-radius(5px);
		box-shadow: 0 3px 4px 0 rgba($gray, 0.4);
	}
	.chat-list { height: 500px;
		background: $lightest_gray;
		overflow:scroll;
		li { padding: 10px; margin:5px 0;position: relative;
			&:nth-child(even){
				text-align:right;
				.yak, .message-content {
					float:right;
					display:block;
				}
				.yak {
					border-left:0;
				}
				.message-content { position: relative; padding: 10px 20px 10px 10px; border-radius: 3px 0 3px 3px;
					.tab { position: absolute; top: 30%; left: auto; right: -12px !important; display: inline-block; width: 0; height: 0; border-left: 5px solid white; border-right: 5px solid transparent; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 2px; }
				}
			}
		}
	}
	.message { @include clearfix();
		.yak, .message-content {
			@include inline-block;
			.float: left;
		}
		.yak {
			padding:23px;
			border-radius: 100%;
			background:$terColor;
			color:white;
			width: 11.090909%;

		}
		.message-content {
			position: relative;
			padding:10px 10px 10px 20px;
			background: white;
			width: 83.090909%;
			margin: 0 2%;
			border-radius: 0 3px 3px 3px;
			box-shadow: 0 2px 3px 0 rgba($light_gray, 0.4);
		.tab { position: absolute; top: 30%; left: -12px; display: inline-block; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid white; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 2px; }
		}
	}
	.new_grunt {
		padding: 20px;
		background:$domColor;
		overflow:hidden;
		border-radius: 5px 5px 0 0;

		input[type="text"] {
			width:80%;
			@include inline-block;
			border:0;
			padding:10px;
			@include border-left-radius(5px);
		}
		input[type="submit"] {
			@include inline-block;
			@include display;
			font-weight:bold;
			font-style:italic;
			font-size:19px;
			padding:8px 17px;
		}
	}
}

.overlay {

	.chat-view {
		background: $lightest_gray;
		overflow:scroll;
		padding:10px;
		h2 {
			@include font-size(30);
			@include inline-block;
		}
		.short_user_name {
			background:$domColor;
			color:white;
			@include font-size(24);
			@include inline-block;
		}
				.message-content { position: relative; padding: 10px 20px 10px 10px; border-radius: 3px 0 3px 3px;
			position: relative;
			padding:10px 10px 10px 20px;
			background: white;
			width: 83.090909%;
			margin: 0 2%;
			border-radius: 0 3px 3px 3px;
			box-shadow: 0 2px 3px 0 rgba($light_gray, 0.4);
					.tab { position: absolute; top: 30%; left: auto; right: -12px !important; display: inline-block; width: 0; height: 0; border-left: 5px solid white; border-right: 5px solid transparent; border-top: 5px solid transparent; border-bottom: 5px solid transparent; margin: 2px; }
				}
		}
	}

.herd-sb { width: 35.2941%; margin-top: 80px; padding: 20px; background: #dadada asset-url('sb-bg.jpg') repeat-y; border-radius: 0 4px 4px 0; box-shadow: 0 3px 4px 0 rgba($gray, 0.4); float: right;
	h1 { color: white; }
	.herd-stats {
		li { color: $lightest_gray; padding: 10px; @include font-size(30); @include display;
			span { @include font-size(15); @include paragraph; font-style: normal }
		}
	}
	.range-actions {
		a, button, input { color: white; border: 0; display: block; padding: 10px; }
	}
}