header { position: relative; height: 40px; overflow: hidden; 
		.logo { position: absolute; left: 0; bottom: -46px; }
		a { position: absolute; left: 300px; top: 50%; line-height: 40px; }
	}

.footer {

}