.overlay-bg { background-image: url('/assets/floral-dark-bg.png'); display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999; }
.overlay { display: none; min-width: 350px; max-width: 800px; position: absolute; z-index: 99999;
	.overlay-content { padding: 15px; width: 60%; box-shadow: 0 0 6px 3px rgba(0,0,0,.7); border-radius: 4px; -webkit-border-radius: 4px; overflow: hidden;
		.overlay-hdr { overflow: hidden; padding: 0 0 10px 0; margin: 10px 0; 
			h1 { float: left; }
			.destroy { background: url('/assets/destroy.png') no-repeat center bottom; display: block; float: right; height: 20px; width: 20px; text-indent: -99999px; cursor: pointer; 
				&:hover { background-position: center top; }
			}
		}
		.overlay-body { }
	}
}

.alert { 
    pointer-events: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 1px 3px 0px rgba( 0, 0, 0,.7 );

	p { color: white; font-weight: 700; }
}

.alert-error { background: red; }
.alert-success { background: orange }
.alert-alert { background: blue; }

#error_explanation { overflow: hidden; padding: 10px; background: white; border-radius: 4px; margin: 0 0 5px;
	h2 { font-size: 14px; font-size: 1.4rem; }
	ul { margin: 0; padding: 0;
		li { padding: 3px 5px; background: blue; color: white; display: inline; float: left; margin: 0 5px 5px 0; }
	}
}