.range { 
	.quick-view { width: 350px; height: 450px;
		
	}
	.range-grunt { position: absolute; bottom: 0; background:$gray; width:100%; height: 0px; min-width: 768px; overflow: hidden; transition: all .5s ease-in; -moz-transition: all .5s ease-in; z-index: 9999;
		form {
			overflow:hidden;
			input[type="text"] {
				width:80%;
				@include inline-block;
				border:0;
				padding:20px;
				background: white;
				color: $gray;
				@include font-size(24);
				@include border-left-radius(5px);
			}
			input[type="submit"] {
				@include inline-block;
				@include font-size(24);
			}
		}
	}
	.grunt-out { height: 100px; padding: 10px;  }
}

