.range {
	.quick-view { width: 400px; padding: 20px 0 20px 20px;
		.yaaak { @include btn($subColor); width: 100%; text-align: center; }
		.quick-view-meta  { display: block; text-align: center; margin: 10px 0; @include font-size(20); }
		.quick-view-hdr { width: 100%; padding: 10px; background: $subColor; color: white; border-radius: 4px 4px 0 0; }
		.chat-list {
			width: 100%;
			height:auto;
			.yak {
				padding:14px;
			}
			.message-content {
				.tab { display:none; }
			}
			li {
				&.even {
					.message-content {
						position: relative;
						padding: 10px 20px 10px 10px;
						border-radius: 3px;
						.tab { display:none; }
					}
				}
			}
		}
	}
}
.gmnoprint {
	margin-top:40px!important;
	.gmnoprint {
		margin-top:0!important;
	}
}
.gm-style {
	div, span, label, a {
		font-family:inherit;
		font-size:inherit;
		font-weight:inherit
	}
	.gm-style-iw {
		div, span, label, a {
			font-family:inherit;
			font-size:inherit;
			font-weight:inherit
		}
	}
}
	.range-grunt { position: absolute; background: white; width:60%; left: 50%; top: 50px; margin-left: -30%; display:none; overflow: hidden; transition: all .5s ease-in; -moz-transition: all .5s ease-in; z-index: 99999; box-shadow: 0 3px 4px 0 rgba($gray,0.4);
		form { width: 100%;
			overflow:hidden;
			input[type="text"] {
				width:70%;
				@include inline-block;
				border:1px solid white;
				padding:20px;
				background: white;
				color: $gray;
				@include font-size(24);
				@include border-left-radius(5px);
				float: left;
			}
			input[type="text"]:hover { border: 1px solid $lightest_gray; }
			input[type="submit"] {
				@include inline-block;
				@include font-size(24);
				padding:20px 0;
				width: 30%;
				text-align: center;
				border-radius: 0 4px 4px 0;
				background: $subColor;
				color: white;
				float: left;
			}
		}
	}
	.grunt-out { height: 100px; padding: 10px;  }

