.range {
	.quick-view { width: 350px; height: 450px;

	}
}
.gmnoprint {
	margin-top:40px!important;
	.gmnoprint {
		margin-top:0!important;
	}
}
.gm-style {
	div, span, label, a {
		font-family:inherit;
		font-size:inherit;
		font-weight:inherit
	}
	.gm-style-iw {
		div, span, label, a {
			font-family:inherit;
			font-size:inherit;
			font-weight:inherit
		}
	}
}
	.range-grunt { position: absolute; bottom: 0; background:$gray; width:100%; height: 0px; min-width: 768px; overflow: hidden; transition: all .5s ease-in; -moz-transition: all .5s ease-in; z-index: 9999;
		form {
			overflow:hidden;
			input[type="text"] {
				width:80%;
				@include inline-block;
				border:1px solid white;
				padding:20px;
				background: white;
				color: $gray;
				@include font-size(24);
				@include border-left-radius(5px);
				float: left;
			}
			input[type="submit"] {
				@include inline-block;
				@include font-size(24);
				padding:20px 40px;
				border-radius: 0 4px 4px 0;
				background: $subColor;
				color: white;
				float: left;
			}
		}
	}
	.grunt-out { height: 100px; padding: 10px;  }

	.range {
		.herd {
			width:100%;
			float:none;
			margin-bottom:0;
			.chat-list {
				background:none;
				height:240px;
				li {
					padding:0 10px;
					&:nth-child(even){
						.message-content {
							background:lighten($domColor, 18%);
							.tab {
								border-left-color:lighten($domColor, 18%);
							}
						}
					}
				}
			}
			.yak {
				display:none!important;
			}
			.message .message-content {
				p {
					color:white;
				}
				background:$domColor;
				.tab {
					border-right-color:$domColor;
				}
			}
		}
	}

