.gin-select, .gin-select[class*="span"] {
    float:none; 
    display: inline-block;
    margin-bottom: 10px;
    margin-left:0;
}

.gin-select { position: relative; vertical-align: middle; white-space: nowrap; margin: 2px; 
    .btn { position: relative; margin: 0; background: white; border: 1px solid $lightest_gray; font-size: 0.9em;cursor: pointer; @include border-radius(4px);
        &:focus { outline: 0; outline-offset: -2px; }
        &:hover { background: #f2f2f2; color: #272727; }
        .filter-option { display: block; padding: 11px 40px 11px 11px; @include font-size(16); color: $light_gray; overflow:hidden; text-align:left; }
        .caret { position:absolute; right:20px; border-left: 6px solid transparent; top: 20px; border-right: 6px solid transparent; border-top: 6px solid #716e56; content: ""; display: inline-block; height: 0; vertical-align: top; width: 0;}
    }

    .div-contain { overflow:hidden; }
    .dropdown-menu {display: none; float: left; left: 0; list-style: none outside none; margin: 2px 0 0; min-width: 160px; padding: 5px 0;
    position: absolute; top: 100%; z-index: 9999; min-width:100%; @include box-sizing(border-box); @include box-shadow(rgba(black, 0.2) 0 0 4px 2px); @include border-radius(3px);
    background: white;
        li {
            a { clear: both; color: #333333; display: block;font-size: 1em;line-height: 20px; padding: 3px 20px; white-space: nowrap; text-decoration: none; 
                &:hover { background: $lightest_gray; }
            }
            small { padding-left:0.5em; }
            a i.check-mark { display: none; }
            a .pull-left { margin-right: 34px; }
        }
    }
}
.open > .dropdown-menu {
    display: block;
}

.gin-select > .disabled, .gin-select .dropdown-menu li.disabled > a {
    cursor: not-allowed;
}