<ul class="tour" data-next-message="Next &raquo;">
	<li data-target="body">Welcome to Yaaak!, a proximity-based chat app. As more yaks around you grunt and chat, your herd grows and more yaks can join the conversation.</li>
	<li data-target="#map_canvas" data-position="center">Herds show up on the range here &mdash; if you're nearby, yaaak it up</li>
	<li data-target="#range-grunt">Go on and git grunting to join the closest herd. If they're aren't any nearby, we'll make you a new one.</li>
</ul>

<div class="footer">
	<p class="copyright">
		This is open source manure here! <a href="http://www.wtfpl.net/"> Copyright Nobody</a>. proudly built by <a style="font-style:italic;" href="http://byahdesign.com/">byah!</a>
	</p>
</div>