<div class="footer">
	<p class="copyright">This is open source manure here! <a href="http://www.wtfpl.net/"> Copyright Nobody</a>. proudly built by <a style="font-style:italic;" href="http://byahdesign.com/">byah!</a></p>
</div>