<header class="header">
	<div class="logo">
		<%= image_tag 'yaaak-logo.svg' %>
	</div><!-- /logo -->
	<ul class="nav">
		<li><a class="i-location" href=""></a></li>
		<li><a class="i-settings" href="#"></a></li>
	</ul>
</header>