<header class="hdr">
	<div class="logo">
		<%= image_tag 'yaaak-logo.svg' %>
	</div><!-- /logo -->
	<div class="hdr-controls">

		<form class="form" id="updateName">
			<% if current_yak %>
				<div class="field-group">
					<input type="text" placeholder="Random Rhinoceros" id="newName" value="<%= current_yak.name %>" />
				</div><!-- /field group -->
				<div class="actions">
					<input type="submit" value="Save" />
				</div><!-- /actions -->
			<% end %>
		</form>
	</div><!-- /hdr-controls -->
	<ul class="nav">
		<li class="has-range"><a id="show-grunt" class="i-chats" href="#"></a></li>
		<li><%= link_to '', root_path, {:class => 'i-globe' } %></a></li>
		<li><a id="show-hdr" class="i-settings" href="#"></a></li>
	</ul>
</header>