<header class="header">
	<div class="logo">
		<%= image_tag 'yaaak-logo.svg' %>
	</div><!-- /logo -->
	<a class="toggle-hdr i-downarrow" href="#"></a>
	<ul>
		<li><a class="i-locationa" href=""></a></li>
	</ul>
</header>