<header class="hdr">
	<div class="logo">
		<%= image_tag 'yaaak-logo.svg' %>
	</div><!-- /logo -->
	<div class="hdr-controls">
		<form class="form">
			<select>
				<option>3 miles</option>
				<option>4 miles</option>
				<option>5 miles</option>
				<option>6 miles</option>
				<option>7 miles</option>
			</select>
			<div class="field-group">
				<input type="text" placeholder="Random Rhinoceros" />
			</div><!-- /field group -->
			<div class="actions">		
				<button>Save</button>
			</div><!-- /actions -->
		</form>
	</div><!-- /hdr-controls -->
	<ul class="nav">
		<% if controller_name == 'range' && action_name == 'index' %><li><a id="show-grunt" class="i-chats" href=""></a></li><% end %>
		<li><a class="i-globe" href="/range"></a></li>
		<li><a id="show-hdr" class="i-settings" href=""></a></li>
	</ul>
</header>