<header class="hdr">
	<div class="logo">
		<%= link_to image_tag('yaaak-logo.svg'), root_path %>
	</div><!-- /logo -->
	<div class="hdr-controls">

		<form class="form" id="updateName">
			<% if current_yak %>
					<input type="text" placeholder="Random Rhinoceros" id="newName" value="<%= current_yak.name %>" />
					<input type="submit" value="Save" />
			<% end %>
		</form>
	</div><!-- /hdr-controls -->
	<ul class="nav">
		<li class="has-range"><a id="show-grunt" class="i-chats" href="#"></a></li>
		<li><%= link_to '', root_path, {:class => 'i-globe' } %></a></li>
		<li><a id="show-hdr" class="i-settings" href="#"></a></li>
	</ul>
</header>