<div class="quick-view">
	<div class="hdr">
		<strong>Title of relative location</strong>
		<a id="close-infowindow" class="close-quick-view i-close"></a>
	</div><!-- /hdr -->
	<div class="grunts">
	
	</div><!-- /grunts -->
	<div class="quick-view-meta">
	
	</div><!-- /meta -->
	<button class="yak">Yaaak!</button>
</div><!-- /quick view -->