<div class="range-grunt" id="range-grunt">
	<form>
		<input type="text" placeholder="Did you know the yak is the mightiest animal in the Midwest?" />
		<button>Yaaak!</button>
	</form>
</div><!-- /grunt -->
<div id="map_canvas"></div>