<div class="range-grunt" id="range-grunt">
	<form>
		<input type="text" placeholder="Start yaaakin' and join a herd or start your own" />
		<button>Yaaak!</button>
	</form>
</div><!-- /grunt -->
<div id="map_canvas"></div>