<div class="range-grunt" id="range-grunt">
	<form>
		<input type="text" placeholder="Start yaaakin' to join a herd or start your own" />
		<input type="submit" value="Yaaak!" />
	</form>
</div><!-- /grunt -->
<div id="map_canvas"></div>